{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
    
    CONTACT INFO

    President
    Phillip Stapleton
    864-557-0248
    asigphi.president@gmail.com

    Rush Chair
    David Finck
    203-299-7739
    asigphi.betapsi.rush@gmail.com

    Instagram
    Alphasig.rpi

    GENERAL INFO

    Nationally Founded: December 6, 1845

    Chapter Founded: November 1940

    Chapter Size: 20

    Financial Dues:
    $700 for Dues
    $700 for meal plan
    $2000-$3000 for Room

    About Us:
    Alpha Sigma Phi is a fraternity with brothers that strive to follow their motto “To Better The Man”. Always actively improving themselves, brothers will refuse to be stagnant. Following the 5 values: Silence, Charity, Purity, Honor, Patriotism; you can always count on Alpha Sigma Phi to be a place that anyone can enjoy and be greeted with a friendly face. A variety of activities, Monster sponsorship, personalities, and a house at 16 Belle Avenue brings brothers together to grow and have a 2nd family at RPI and for the rest of their lives.

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/alphasig_rpi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/alphasig.rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/AlphaSigmaPhiLogo.png' %}" alt="Image 1">
{% endblock %}