{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
    Alpha Epsilon Pi

    President: Casey Selinske (203) 815-3417

    Recruitment Chair:
    Michael Bagdasarian (203) 685-1191
      Zach Gunther (207) 491-7281

    National Founding Date:
      1913

    Chapter Founding Date:
      1950

    Chapter Size: 23

    Chapter GPA:
    Cumulative Fall 21 - 3.41

    Financial Dues:
      Room: $3125
      Board: $800
      Dues: $450

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://www.instagram.com/aepi_rpi/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/AlphaEpsilonPiLogo.jfif' %}" alt="Image 1">
{% endblock %}