{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Chi Phi - Theta Chapter

    CONTACT INFORMATION

    President
    Jared Zornitzer
    (862) 485-6988
    alpha.theta.chiphi@gmail.com

    Recruitment Chairman
    Soul Soulaymana
    (929) 255-7772
    iota.theta.chiphi@gmail.com

    Website:       www.thetaofchiphi.org

    Instagram:  @chi_phi_rpi

    Facebook:   @chiphi.atrpi

    Twitter:       @thetaofchiphi 

    GENERAL INFORMATION

    National Founding Date
    December 24th, 1824

    Charter Date on Campus
    May 25th, 1878

    Chapter Size
    24 Members 

    Chapter Semesterly Dues
    $1100/semester in dues, $1250/semester for full meal plan, and $1700-$2100/semester for room charges

    Chapter Average Cumulative GPA
    3.30 (Spring 2021)
    Who we are as a house:  Chi Phi is a diverse and welcoming brotherhood right on the corner of Sage and 15th Street, in the heart of the RPI campus. We pride ourselves on enriching our local community, forming lifelong connections and building better men. Standing by our values of Truth, Honor and Personal Integrity since 1878, Chi Phi leads by example. 
{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/chi_phi_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/ChiPhiLogo.png' %}" alt="Image 1">
{% endblock %}