{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
    Delta Phi - Lambda Chapter

    President: Henry Rodriguez, # 845 826 6221
    Recruitment Chair: Robert Shen, (925) 918-5550

    Website: https://www.deltaphirpi.com/

    National Founding Date: 1827

    Charter Year on Campus: 1864

    Financial Dues
    Membership dues: $525
    Room: $3500
    Meal Plan (Food+Grocery): $400

    Chapter Size: 12

    Who we are:
    Delta Phi is a close knit, academically focused fraternity that seeks to build lifelong connections between our brothers. We understand the stigma surrounding the term “frats”. However, as the oldest continuous fraternity in the US, we believe that Delta Phi is categorically different and that we’re still able to have fun while supporting each other.


{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/rpideltaphi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/DeltaPhiLogo.jfif' %}" alt="Image 1">
{% endblock %}