{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
    Delta Kappa Epsilon - Psi Omega

    CONTACT INFO

    President
    Jacob Edwards
    (703)-509-1311
    president.dkepsiomega@gmail.com

    Recruitment
    Alexander Orr
    (203)-952-2986
    recruitment.dkepsiomega@gmail.com

    Instagram
    @dke_rpi

    Link Tree
    https://linktr.ee/dke_rpi

    GENERAL INFORMATION 

    Address: 901 Peoples Avenue (Off of West Hall)

    Nationally Founded: 1844

    Chapter Founded: 1867

    Chapter Refounded: 2014

    Chapter Size: 13

    Cumulative GPA: 3.50

    Financial Dues
    Membership Dues: $500-$650
    Room Cost: $3957



    Caption
    DKE was refounded in 2014, and has been helping both the local community and brothers prosper since. We hold many events from philanthropy events to help our fellow communities including volunteering for food banks and United Ministries to social events like games, pickup volleyball nights and more. At the same time, we exceed professionally in our academics and careers. We hold professional help like career fair prep and exam review sessions for general courses. Brothers of Dekes are a bunch of friends that exemplify the DKE motto in their everyday lives: the gentleman, scholar, and jolly good fellow.

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/dke_rpi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/dke_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/DeltaKappaEpsilonLogo.png' %}" alt="Image 1">
{% endblock %}