{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    President: Pete Bria, (267) 397-1336

    Recruitment Chair: Carl Steffens, (973) 610-5535

    Social Media: 
    Instagram: @rpi.lambdachi
    Facebook: @ehzlxa
    Website: http://www.lambdachiehz.com/

    Chapter Size: 50

    Financial Dues:
      $849 for Active Members
      $3383 for room
      $1337 for board
      $0 for Associate Member semester

    National Founding Date: November 2, 1909

    RPI Charter Date: April 1937

    Brief Overview: Our fraternity's mission is to inspire and equip men to leave ethical lives of growth, service, and leadership. On RPI’s campus, our chapter’s mission is to be dedicated to developing gentlemen and to strive for excellence in all aspects of our brotherhood. Our chapter’s vision is to build up the membership, ideals, and spirit of this chapter so that affiliation shall ever be regarded as an honor and a privilege.

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/rpi.lambdachi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/LambdaChiAlphaLogo.png' %}" alt="Image 1">
{% endblock %}