{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
    PHI GAMMA DELTA - FIJI
    National Founding Date: May 1, 1848

    RPI Charter Date: November 3, 1984

    Chapter Size: 12

    Chapter Semesterly Dues: $800, rent $4000

    Spring 2021 GPA: 3.5

    Phi Gamma Delta information paragraph

      Phi Gamma Delta is a social fraternity which is commonly known as “FIJI”. We are a very close brotherhood who values friendship and self betterment. We maintain real friendships between one another which allow us to be open and honest to grow personally, professionally, and socially. Our goal is to build a community which thrives within itself and spreads its passion and excitement to better the greater campus community.

      Instagram - @taunufiji
      Website - phigam.org
{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/taunufiji/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PhiGammaDeltaLogo.png' %}" alt="Image 1">
{% endblock %}