{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    National Founding Date: April 23, 1925

    Chapter Founding Date: 

    Chapter Size: 55

    Semesterly Chapter Dues: 
      Room: $3710
      Food: $500
      Dues: $600

    Chapter GPA: 
      Spring '21: 

    Social Media: 

    Instagram: @pkt_skilodge 

    Website: www.pktskilodge.org

    Recruitment Chairs
      Ryan Hayford: 973-900-0132
      Andrew Ruder: 760-8464183

    President: 
      Eric Bienstock: 860-808-6132

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/pkt_skilodge">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/pkt_skilodge/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PhiKappaThetaLogo.png' %}" alt="Image 1">
{% endblock %}