{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Phi Mu Delta
    Nu Theta Chapter

    President:  d(207) 710 - 1517
    Recruitment Chair: Chase Grajeda (301) 456 - 4050
    National founding date: March 1st, 1918
    Local chartering date: May 4th, 1929
    Chapter size: 18
    Financial dues (2019-2021 average): 
    $656 for general member dues
    $4,327 for room and board
    Spring 2021 GPA: 3.61

    Instagram: @phimudrpi
    Website: http://phimud.com/



{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/phimud">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/phimudrpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PhiMuDeltaLogo.jfif' %}" alt="Image 1">
{% endblock %}