{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    PSK (Church)
    National Founding Date: March 15, 1873
    Chapter Founding Date: October 14, 1950
    Chapter Size: 8
    Semesterly Chapter Dues:
    Room: $2200
    Board: $1700
    Dues: $700
    Contact us at:
    President:
              Anthony Cafaro:  (516) 343-3606		president.pskgt@gmail.com
    Recruitment Chair:
              Aidan McHugh:   (206) 819-7128 		recruitment.pskgt@gmail.com
    Social Media:
    Instagram: @rpiphisig
    Recruitment Link:

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/pskgt">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/rpiphisig/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PhiSigmaKappaLogo.png' %}" alt="Image 1">
{% endblock %}