{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>
  
    Founding Date: 1868
    Charter date on Campus: 1935
    Chapter size: ~20
    Semesterly Dues: $750

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://instagram.com/pikappaalpharpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PiKappaAlphaLogo.jfif' %}" alt="Image 1">
{% endblock %}