{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Pi Lambda Phi - New York Kappa Tau

    CONTACT INFO

    President
    Alden Johnson
    (978) 809-6160
    pilambdaphi.president@gmail.com

    Recruitment
    Aidan Saunders
    (360) 255-8689
    pilambdaphi.prolocutor@gmail.com

    Instagram
    @PilamNYKT

    Website
    https://pilambdaphinyktwm.wixsite.com/website/

    GENERAL INFORMATION 

    Nationally Founded: 1895

    Chapter Founded: 1949

    Chapter Size: 53

    Accumulative GPA: 3.22

    Financial Dues
    Live-in: $4200/Semester
    Live-out w/ meals: $900/Semester


{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/pilamnykt/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PiLambdaPhiLogo.png' %}" alt="Image 1">
{% endblock %}