{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Contact Information:
Website: https://www.psiurpi.com/
Instagram: @psiurpi

President:
Zachary Niles Peretz
978-501-3736
psiu.ei.archon@gmail.com

Recruitment Chair:
Emma Cohen
443-632-5368
recruitment.psiu@gmail.com

General Information:
National Charter Date: November 24th, 1833
Chapter Charter Date: April 16th, 1982
Chapter Size: 9
Semesterly Out-of-house dues: $760
Semesterly In-House dues: $900
Chef: Carsen

Little blurb about who we are:
“Psi Upsilon is a gender-inclusive fraternity that fosters positive social engagements among our brothers and throughout the community. Our interests include board games, music, arts, anime, and rats, and we strive to encourage each brother’s unique passions.”

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/psiup">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/psiupsilon/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/PsiUpsilonLogo.jfif' %}" alt="Image 1">
{% endblock %}