{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Spring 2021 GPA: 3.32

Chapter Size Currently: 33

Founding date: June 28, 1855 (Miami University in Ohio)

Chapter Founding date: December 1950

Dues: $1250/semester, $650 meal plan/semester, $3500/rent for the chapter house


Sigma Chi was originally founded at Miami University of Ohio in 1855. In December of 1950 the Delta Psi chapter of Sigma Chi was established here at Rensselaer Polytechnic Institute. Sigma Chi takes pride in being a fraternity to help develop “leaders of men” and holds true to its beliefs of friendship, justice and learning. The brothers of the Delta Psi chapter stick true to their values and enjoy giving back to the community through events such as leaf rake and the Haunted House. The Delta Psi chapter house can be found in East Troy at 58 Pinewoods and brothers can be found 


President:
Connor O'Brien
913-387-7674
rpisigmachiconsul@gmail.com


Rush Chair:
Jack Williams
516-666-2729
sigmachi.rc@gmail.com


Instagram:
@rpisigs

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/rpisigs/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/SigmaChiLogo.png' %}" alt="Image 1">
{% endblock %}