{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    @President Contact Info
Name: Wayne Alley
Email: wayne.alleyjr@gmail.com
Phone: (201) 744-7221

Recruitment Contact Info
Name: Dan Shipman
Email: dshipman44@gmail.com
Phone: (774) 254-2185

Social Media Handles
Instagram: @sigeprpi 
Website: https://rpi.sigep.org/

Chapter Size: 21 Members

Financial Dues: $225-$500

Charter Date: 1938

Nationally: November 1st, 1901

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/sigepnyd">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/sigeprpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/SigmaPhiEpsilonLogo.png' %}" alt="Image 1">
{% endblock %}