{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Tau Epsilon Phi
Epsilon Iota Chapter

National Founding Date: October 10 1910
Local Founding Date: October 21 1991
Chapter Size: 12
Chapter Dues per Semester: $670
Rent per Semester: $2800
Spring 2021 GPA: 3.12
Instagram: @tepstagram_rpi

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/tepstagram_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/TauEpsilonPhiLogo.jfif' %}" alt="Image 1">
{% endblock %}