{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Title</h1>

    Contact Info
President: 
Name: Tim Budding
Email: presidentofalphachapter@gmail.com 
Phone #: 781-439-3194
Recruitment:
	Name: Steven Hepensteil
	Email: hepens@rpi.edu
	Phone: 203-856-6811
Instagram: theta.zoo.official 

Financial Dues:
Base Dues:
$1,168.00
Meal plan (optional for anyone):
$1,579.00
Rent:
$2650.00
Out of House Brother Fee with Meal Plan (no rent):
$2747.00
In House Brother Fee (Includes rent and base dues, no meal plan):
 $3818.00
In-House Brother with Meal Plan
$5397.00

Founding Date: April 29th, 1864
Charter Date: April 29th, 1864


{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}

{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/rpithetaxi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/rpithetaxi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/ThetaXiLogo.jfif' %}" alt="Image 1">
{% endblock %}